@using SmartShop.Models.TableEditor
@{
    ViewData["Title"] = "Панель администратора";
}
@model AdminPanelViewModel;

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'productsTab')" id="defaultOpen">Добавить смартфон</button>
    <button class="tablinks" onclick="openTab(event, 'tablesTab')">Редактировать базу данных</button>
</div>

<div id="productsTab" class="tabcontent">
    <form id="product" action="api/AddProduct" method="post">

        <div class="form-group">
            <label for="releaseDate">Дата выхода</label>
            <input type="date" class="form-control" id="releaseDate" name="releaseDate" required>
        </div>

        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="producerId">Производитель</label>
            <input class="form-control" list="producers" id="producerName" name="producerName" required>
            <datalist id="producers">
                @foreach (var producer in Model.Producers)
                {
                    <option>@producer.Name</option>
                }
            </datalist>
        </div>

        <div class="form-group">
            <label for="description">Описание</label>
            <textarea type="text" class="form-control" id="description" name="description" required></textarea>
        </div>


        <div class="form-group">
            <label for="memorySize">Размер хранилища (GB)</label>
            <input type="number" class="form-control" id="memorySize" name="memorySize" required>
        </div>

        <div class="form-group">
            <label for="ramSize">Размер оперативной памяти (GB)</label>
            <input type="number" class="form-control" id="ramSize" name="ramSize" required>
        </div>


        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" class="form-control" step="0.01" id="price" name="price" required>
        </div>

        <div class="form-group">
            <label for="unitsAvailable">Штук в наличии</label>
            <input type="number" class="form-control" id="unitsAvailable" name="unitsAvailable" required>
        </div>

        <div class="form-group">
            <label for="megaPixels">Количество мегапикселей</label>
            <input type="number" class="form-control" id="megaPixels" name="megaPixels" required>
        </div>


        <div class="form-group" style="margin: 10px;">
            <label for="image">Фото</label>
            <input type="file" id="image" name="image" accept="image/png" required multiple onchange="previewImages(event)" />
            <div id="image-preview" style="margin-top: 10px;"></div>
        </div>

        <button type="button" class="btn btn-primary" onclick="TrySendForm('product','AddProduct','succsess','failure');">Добавить</button>

        <div class="form-group" style="margin: 10px;">
            <div id="failure" class="failure" style="visibility:hidden">Ошибка</div>
            <div id="succsess" class="success" style="visibility:hidden">Успешно добавлен</div>
        </div>
    </form>
</div>

<div id="tablesTab" class="tabcontent">

    @Html.DropDownListFor(m => m.Tables, new SelectList(Model.Tables.Where(t => t != "OrderSmartphone")), "Выберите таблицу", new { @onchange = "Load(this.value)" })

    <div id="content"></div>
</div>


<script>
    document.getElementById("defaultOpen").click();

    function previewImages(event) {
        var preview = document.getElementById('image-preview');
        preview.innerHTML = ''; // Clear previous previews

        var files = event.target.files;

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '100px'; // Set max width for preview images
                img.style.marginRight = '10px'; // Add some space between images
                preview.appendChild(img);
            }

            reader.readAsDataURL(file);
        }
    }

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

