@{
    ViewData["Title"] = "Заказ";
}
@model OrderingViewModel;

<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <h2 class="alert-heading">Спасибо!</h2>

        <h5 class="alert-heading">Заказ успешно создан</h5>

        @foreach(var smartphone in Model.Order.Smartphones)
        {
            <h6>@smartphone.Name</h6>
        }
        <hr>
        <p class="mb-0">Ваш заказ, @Model.Order.Code, был успешно создан. Спасибо что покупаете сматрфоны у нас!</p>
    </div>
</div>

<script defer>
    DeleteCookie("Cart");
</script>