<!DOCTYPE html>
@{
    User User = ViewBag.User;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartShop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/SmartShop.styles.css" asp-append-version="true" />
    <style>
        .user-actions {
            display: flex;
            align-items: center;
        }

            .user-actions a {
                text-decoration: none;
                color: #333;
                margin-left: 20px;
                font-size: 1.2rem;
            }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand mr-auto" style="font-size:32px; font-family:Arial" asp-area="" asp-controller="Catalog" asp-action="Index">SmartShop</a>
                @if (ViewBag.IsHeaderDisabled == null || ViewBag.IsHeaderDisabled == false)
                {
                    <div class="user-actions">
                        @if (User == null || User.Role != Role.Admin)
                        {
                            <button class="cart-btn ml-3" onclick="ButtonRedirect('Cart');">
                                <img width="30px" src="~/resources/cart.png" alt="Cart">
                            </button>
                        }

                        @if (User != null)
                        {
                            <a asp-area="" asp-controller="Profile" asp-action="Index">@ViewBag.User.Name</a>
                            <a href="#" onclick="LogOut(); return false;">Logout</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        }
                    </div>
                }
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top">
        <div class="container">
            &copy; 2023 - SmartShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
