@{
    ViewData["Title"] = "Регистрация";
}

<div style="display: grid; justify-content: center; padding:10px; margin:50px;">
    <form>
        <div style="display: grid; justify-content: center; margin:10px;">
            <input id="name" type="text" size="30" class="form-control" placeholder="Имя">
        </div>
        <div style="display: grid; justify-content: center; margin:10px;">
            <input id="login" type="text" size="30" class="form-control" placeholder="Логин">
        </div>
        <div style="display: grid; justify-content: center; margin:10px;">
            <input type="password" id="pass" class="form-control" size="30" placeholder="Пароль">
        </div>
        <div style="display: grid; justify-content: center;">
            <h6 id="warning" style="visibility:collapse; display:inline-block">Логин занят</h6>
            <button type="button" class="btn btn-primary" onclick="Register(document.getElementById('name').value,
                                                document.getElementById('login').value,
                                                document.getElementById('pass').value);">
                Зарегистрироваться
            </button>
        </div>

    </form>
    <div style="display: grid; justify-content: center;">
        <a href="/Auth/Login"> Уже есть аккаунт? Войти</a>
    </div>
</div>




